<H1>Welcome to the Anonymous Writers Club!</H1>

    <div id="posts">
        <% @posts.each do |post| %>
            <div id="title">
                <h3><%= post.title %><br></h3>
                <% if post.image_url.present?%>
                    <div id=image> 
                        <img src='<%= post.image_url %>'  width="400"> 
                    </div>
                    <% end %>
                <p id="body">
                    <%= post.body %><br>
                </p>
                <% if member_signed_in? %>
                    Written by <%= Member.find(post.member_id) %>
                   <% else %>
                    <p>
                        Written by Anoynmous
                    </p>
                <% end %>

            </div>
        <% end %>
    </div>

